#inactive {
   height: 560px;
}

#connect-msg {
   text-align: center;
}

#connect {
   width: 100%;
}

#smile-search {
   transform: rotate(-30deg);
   position: absolute;
   right: -10%;
   bottom: -5%;
   max-width: 480px;
}

#master-send {
   margin: 8px 0px;
}

.btn-thin {
   padding: 4px 0px;
   width: 47%;
}

.btn-selector {
   background: #2188C4;
   color: white;
}

.btn-light-select {
   background-color: #F5F5F5;
   border: 1px solid #D4D4D4;
}

.btn-light-select[toggles][active] {
   background-color: #94F9CE;
   border: 1px solid #5BA664;
}

#scenes paper-radio-button {
   width: 47%;
}

.hue-tabs {
   color: white;
   background-color: #2F9BDA;
   border-top-left-radius: 3px; 
   border-top-right-radius: 3px;
}

.hue-pages {
   background-color: #ECECEC;
   margin-bottom: 10px;
   padding: 15px;
   border-bottom-left-radius: 3px; 
   border-bottom-right-radius: 3px;
}

#scrollable {
   max-height: 152px;
   padding: 0;
}

#master-send-container {
   display: flex;
   justify-content: space-around;
   margin: 10px 0px;
   border-radius: 3px;
   padding: 5px;
   background-color: #ECECEC;
}

#hue-settings {
  color: white;
  width: 44px;
  height: 44px;
  margin: 8px 0px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

#power-toggle {
   flex-direction: column;
   margin: 10px 0px;
}

#scenes {
   justify-content: flex-end;
}

.scroll-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.scroll-container paper-button {
   margin: 5px 0px;
}

.slider-container {
   display: flex;
   align-items: center;
}

.slider-title {
   text-align: center;
   min-width: 78px;
}

.color-preview {
   border-radius: 3px;
   background-color: #000;
   height: 50px;
}

.input-transition-time {
   width: 30%;
}

.vr {
   margin: 8px 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#edit-hue-pages {
  height: 600px;
  padding: 0px;
}

.edit-details-container {
  display: flex;
  padding: 1px 0 0 0;
  height: calc(100% - 1px);
}

.details-listbox {
  min-width: calc(25% + 5px);
  height: 100%;
  padding: 0;
  border-bottom-left-radius: 3px;
  color: white;
  background-color: #18618B;
}

.details-info {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.details-input {
  margin: 0px 5px;
  width: calc(33% - 10px);
}

paper-item.iron-selected {
  background-color: #2F9BDA;
}